# Environment variables
.env

# Gluetun configuration (may contain sensitive VPN data)
data/config/gluetun/*
data/config/jellyfin/*
data/config/sonarr/*
data/config/radarr/*
data/config/prowlarr/*
data/config/transmission/*
data/config/watchtower/*
data/config/pihole/*



# Downloaded content and media
data/downloads/*
data/media/*

# Logs
*.log
logs/

# Temporary files
*.tmp
.DS_Store
Thumbs.db